importlib-resources==5.12.0
m2r2
matplotlib==3.5.3
numpy==1.26.4
pillow==10.3.0
sphinx==4.5.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-serializinghtml==1.1.5
sphinx-copybutton
sphinx-gallery==0.10.1
# xanadu-sphinx-theme==0.6.2 -> 0.7.0
xanadu-sphinx-theme @ git+https://github.com/XanaduAI/xanadu-sphinx-theme@sc-77533-search-command-palette-button-is-added-to
