importlib-resources==5.12.0
m2r2
matplotlib==3.5.3
pillow==10.0.1
sphinx==4.5.0
sphinx-copybutton
sphinx-gallery==0.10.1
# TODO: Replace this requirement with a versioned release.
xanadu-sphinx-theme @ git+https://github.com/XanaduAI/xanadu-sphinx-theme@sc-46517-accessibility-improvements
